.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  max-width: 500px;
  margin: 40px auto;
}

.key {
  padding: 10px;
  font-size: 18px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.key:hover {
  background-color: #ccc;
}

#output {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 8px;
  justify-content: center;
  margin-top: 30px;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  background-color: white;
  font-weight: bold;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn:hover {
  background-color: #45a049;
}

.btn-supp{
  background: #da3939;

}

.btn-supp:hover{
  background: #b31313;

}

.correct {
  background-color: #6aaa64; /* vert */
  color: white;
}
.present {
  background-color: #c9b458; /* jaune */
  color: white;
}
.absent {
  background-color: #787c7e; /* gris */
  color: white;
}
